<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockWatch - Stock Price Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <div id="logo">StockWatch</div>
        <span>Login / Signup</span>
    </nav>
    <h1 id="heading">
        StockWatch
    </h1>
    <p>Values are updated every 15 min.</p>
    <div id="screen">
        {% for stock in stock_info %}
        <div class="container">
            <div class="stockName">{{ stock[0] }}</div>
            <span class="stockChange">{{ stock[1] }}</span>
        </div>
        {% endfor %}
    </div>
    <a id="reloadBtn" href="/">Reload</a>
</body>
</html>